

	<div class="container bodycontent resconter">
		<div class="col-md-7 resconter">
			<div class="title_sec">
				<h1>Terms & Condition</h1>
			</div>
			<div class="allpage_body">
				<h2>1. General</h2>
				<p>
					Access to and use of the truePensionPlan.co.uk website is subject to these Terms of Use and our Privacy Policy. By accessing and using this website you agree to be bound to act in accordance with these terms of use and our Privacy Policy. If you do not agree to these terms of use or our Privacy Policy, you are not permitted to access and use this website and you should cease such access and/or use immediately.
				</p>
				<p>By using the website, you undertake that you are aged 18 years or older.</p>
				<p>If you breach any term of these terms of use, your right to access and use of this website shall cease immediately.</p>
				<p>
					We reserve the right to amend these terms of use from time to time without notice by amending this page. The amended terms of use will be effective from the date they are posted on the truePensionPlan.co.uk website. As these terms of use may be amended from time to time, you should check them whenever you visit the truePensionPlan.co.uk website. Your continued use of this website will constitute your acceptance of the amended terms of use.
				</p>
				<p>truePensionPlan.co.uk is an online information source for best pension plans. truePensionPlan.co.uk provides a free Pension plans search service. It is owned by Pioneer Web Ltd.</p>

				<h2>
					2. Our Service
				</h2>
				<p>
					We provide an independent online service which enables you to research and compare best pension plans provided by third parties whilst using this website.
					Our comparison service is free for you to use. We do not add any fees or commissions to the products or services you compare. Instead, we will introduce you to other parties who provide products or services. We are paid by charging those third party product or service providers a fee and/or commission for introductions made.
				</p>
				<p>
					Any financial information featured on the website or accessed via a link from the
					website is not considered to be financial advice from truePensionPlan.co.uk or Pioneer Web Ltd or.
					Pioneer Web Ltd is not authorised by the Regulated Advisor regarding financial products and should not be regarded as a financial advisor.
				</p>
				<p>
					Please be aware that nothing on this website is, or shall be deemed to constitute, financial, investment or other advice or a recommendation or endorsement by us in respect of any product or service referred to on this website. Information on this website is provided for general information purposes only, should not be relied upon by you and is provided so that you can select the product or service that you feel is most appropriate to meet your needs. You should always check the suitability, adequacy and appropriateness of the product or service that is of interest to you and it is your sole decision whether to obtain or refrain from obtaining any product or service. If you are in any doubt as to the suitability, adequacy or appropriateness of any product or service referred to on this website, we suggest that you seek independent professional advice before you obtain any product or service via this website.
				</p>
				<p>
					Please be aware that nothing on this website is, or shall be deemed to constitute, an offer by us or any third party to sell to you any product or service or to enter into any contract with you in respect of any product or service. By submitting your details, you are making an offer to obtain the relevant product or service from the relevant third party on its terms and conditions that may be accepted or rejected.
					The contract for the product or service will only be concluded once your offer has been accepted.
				</p>
				<p>
					We aim to provide uninterrupted access to this website but we give no warranty as
					to the uninterrupted availability of this website. We reserve the right to suspend, restrict or terminate your access to this website at any time.
				</p>
				<p>
					We reserve the right to add, amend, delete, edit, remove or modify any information, content, material or data displayed on
				 this website and without notice from time to time.
				</p><br>
				<h2>
					3. Permitted use
				</h2>
				<p>
					You are only permitted to access and use this website for your personal,
					 non-commercial purposes, meaning this website may only be accessed and used directly by a private individual or
					 by a business to seek a product or service directly for that individual or business and on their own behalf.
					 Access to and use of this website other than for your personal, non-commercial purposes is strictly prohibited.
				</p>
				<p>
					You are not permitted to use this website:
				</p>
				<ul class="offerTerms">
					<li>In any unlawful, fraudulent or commercial manner.</li>
					<li>
						To harm, threaten, abuse, embarrass, defame, libel, intimidate or harass another person, or in a way that invades another person's privacy or is obscene, offensive, hateful, indecent, inappropriate, objectionable, unacceptable, discriminatory or damaging as determined by us.
					</li>
					<li>
						To create, check, confirm, update, modify or amend your own or another person's databases, records or directories.
					</li>
					<li>To tamper with, modify, reverse engineer or amend any part of this website.</li>
					<li>
						In a way that interferes with, disrupts or imposes an unreasonable or disproportionately large burden on our communications and technical systems as determined by us.
					</li>
					<li>
						Using any automated software, process, program, robot, web crawler, spider, data mining, trawling or other 'screen scraping' software, process, program or system.
					</li>
				</ul>
				<p>
					You may operate a link to this website provided you do so in a way that is fair
					and legal and does not damage our reputation or take advantage of it, as determined by us. You must not operate a link to this website in such a way as to suggest or imply any form of association, approval or endorsement by us. We reserve the right to require you to immediately remove any link to this website at any time and we may withdraw any linking permission at any time.
				</p>
				<h2>
					4. Intellectual property rights
				</h2>
				<p>
					The copyright in the information, content, material or data displayed on this website belongs to us or our licensors. You may temporarily print, copy, download or store extracts of information, content, material or data displayed on this website for your own personal use, subject to the following conditions:
				</p>
				<ul class="offerTerms">
					<li>
						It may not be used for any commercial purposes and may not be commercially exploited, published, distributed, extracted, re-utilized or reproduced without our prior written consent.
					</li>
					<li>
						You may not use any automated software, process, program or system, robot, web crawler, spider, data mining, trawling or other 'screen scraping' software, process, program or system.
					</li>
					<li>It may not be sold or transferred to any third party.</li>
					<li>
						The copy must retain any copyright or other intellectual property notices contained in the original material.
					</li>
					<li>
						Images displayed on this website are protected by copyright and may not be reproduced or appropriated in any manner without the prior written consent of their respective owner(s).
					</li>
					<li>
						No logos, trade marks or service marks displayed on this website may be printed or downloaded, except as part of the text of which they form part.
					</li>
					<li>
						You must not modify the paper or digital copies of such information, content, material or data.
					</li>
					<li>
						It may not be excerpted, utilized, used, reproduced, published, reformatted and/or displayed on any other website without our prior written consent.
					</li>
					<li>
						The status of us and our licensors as the authors of such information, content, material or data must be acknowledged.
					</li>
				</ul>
				<p>
					All intellectual property rights including, without limitation, all copyright, design rights, patents, inventions, logos, business names, trading names, service marks and trade marks, internet domain names, moral rights, rights in databases, data, source codes, software, specifications, know how, processes and business methods (in all cases whether registered or unregistered and including all rights to apply for registration) in and relating to this website (including information, content, material or data displayed on it) belong to us or our licensors and all such rights are reserved.
				</p>
				<p>
					Except as set out elsewhere in these terms of use, none of the intellectual property rights belonging to us or our licensors in and relating to this website (including information, content, material or data displayed on it) may be used, copied, modified, published, extracted, utilised, transmitted, displayed, sold, excerpted, reverse engineered, made available, reproduced, reformatted or distributed by you without our prior written consent.
				</p>
				<p>
					All rights in truePensionPlan.co.uk are owned by Pioneer Web Ltd.
				</p>
				<p>
					You shall retain ownership of any views, opinions, reviews, ratings, comments, content or material you submit, display, distribute, upload, post, share, publish or otherwise make publicly available on or through this website (user content). You grant us a perpetual, irrevocable, transferable, worldwide, royalty free and unlimited licence to use, modify, keep, share, sell, save, copy, distribute, publish, display, excerpt, reproduce, utilise, extract, make available and transmit such user content in any  manner and for any purpose.
				</p>
				<p>
					Sections 5, 6 and 7 are important and you should read them carefully as they exclude or limit our liability to you and detail your responsibilities.
				</p>
				<h2>
					5. Limits to our liability
				</h2>
				<p>
					Nothing in these terms of use excludes or limits our liability for death or personal injury caused by our negligence or for our fraud or fraudulent misrepresentation.
				</p>
				<p>
					Whilst we use reasonable endeavours to ensure that information on this website is
					accurate and up to date and to correct errors as soon as we are able to after becoming aware of them, we do not check, monitor, review, verify or endorse, and we are not responsible or liable for any loss or damage you may suffer or incur in connection with, any information, content, material or data collected from or provided by third parties which is displayed on or is otherwise available from this website or any third party websites. Such information, content, material or data may be inaccurate, incomplete or out of date. It is your responsibility to check that such information, content, material or data is accurate, complete, correct and up to date.
				</p>
				<p>
					Any views, opinions, advice, reviews, ratings or comments on this website or any
					third party websites which are made by third parties (including user content if
					any) do not represent our views, opinions or advice, should not be relied upon by
					you and are not checked, monitored, reviewed, verified or endorsed by us. We are
					not responsible or liable for any loss or damage you may suffer or incur in connection with such views, opinions, advice, reviews, ratings or comments including in relation to their accuracy, truthfulness or completeness.
				</p>
				<p>
					We do not give any warranty or guarantee that this website, any third party website or any information, content, material or data on this website or any third party website is free from viruses, spyware, malicious software, trojans, worms, logic bombs or anything else which may have a contaminating, harmful or destructive effect on any technology. You must ensure that you use appropriate virus checking software. We are not responsible or liable for any loss or damage you may suffer or incur in this regard where caused by any third party.
				</p>
				<p>
					We are not responsible or liable for any loss or damage you may suffer or incur
					in connection with your use of this website which is caused by any event beyond
					our reasonable control including the electronic transmission of information, content, material and data over the internet and the interception or decryption of it by others.
				</p>
				<p>
					We are not responsible or liable for any indirect loss or damage you may suffer
					or incur in connection with your use of this website (including any loss of savings you expect to make, loss of business or business opportunity, or loss of profit or revenue) or for any loss or damage you may suffer or incur in connection with your use of this website which was not foreseeable by us when you used this website.
				</p>
				<p>
					We are not responsible or liable for any loss or damage you may suffer or incur
					in connection with any inability to access and use this website for any reason.
				</p>
				<h2>
					6. Exclusion of our liability in respect of third party advice, assistance, websites and products or services
				</h2>
				<p>
					You can apply for a number of products and services via this website. These products and services are not provided by us but are instead provided by third parties over whom we do not have control. It is your responsibility to satisfy yourself that you wish to obtain any product or service before doing so. We are not responsible or liable for any loss or damage you may suffer or incur in connection with any product or service you obtain after using this website or for any acts, omissions, errors or defaults of any third party in connection with that product or service.
				</p>
				<p>
					Please be aware that the information and descriptions of products and services on
					this website may not represent the complete descriptions of all the features and
					terms and conditions of those products and services. You must ensure that you carefully read all the features and terms and conditions of any product or service before applying for it.
				</p>
				<p>
					If you apply for and obtain any product or service, you will be contracting with
					a third party who will be providing that product or service to you on their own
					terms and conditions. It is your responsibility to ensure that you understand and
					agree with those terms and conditions before entering into a contract to obtain
					that product or service. We are not responsible or liable for any loss or damage
					you may suffer or incur in connection with the terms and conditions applying to
					any contract entered into by you with any third party in relation to any product
					or service or for any acts, omissions, errors or defaults of any third party in
					connection with those terms and conditions.
				</p>
				<p>
					We provide links from this website and from emails sent to you as part of our service to the websites of third parties. These websites are owned and operated by third parties over whom we do not have control. You access and use these third party websites at your sole risk and your sole discretion. You are solely responsible for any use of these third party websites and for any decision to obtain or refrain from obtaining any of the products or services available on such third party websites. Any links to third party websites are provided for your interest and convenience only. We do not endorse, recommend or accept responsibility for such third parties, their products or services, their websites or for any information, opinions or views given or advice provided by such third parties (whether on their websites or otherwise).
					We are not responsible or liable for any loss or damage you may suffer or incur
					in connection with your use of any third party websites or for any acts, omissions, errors or defaults of any third party in connection with their website.
				</p>
				<p>
					Your use of any third party website will be governed by the terms and conditions
					of use and privacy policy applicable to that website. Such terms and conditions
					of use and privacy policy will be different from these terms of use and our privacy policy. It is your responsibility to ensure that you understand and agree with the terms and conditions of use and privacy policy of any third party website before using that website. We are not responsible or liable for any loss or damage you may suffer or incur in connection with the terms and conditions of use or the privacy  policy applying to any third party website or for any acts, omissions, errors or defaults of any third party in connection with those terms and conditions of use and/or privacy policy.
				</p>
				<p>
					Any views, opinions, advice or assistance which is given or provided to you by a
					third party after you have used this website do not represent our views, opinions, advice or assistance and are not checked, monitored, reviewed, verified or endorsed by us. We do not endorse, recommend or take responsibility for any third party who provides you with any views, opinions advice or assistance. You act or refrain from acting on any third party's views, opinions, advice or assistance at your sole risk and sole discretion and you are solely responsible for any decision to act or refrain from acting on such views, opinions, advice or assistance. We are not responsible
					or liable for any loss or damage you may suffer or incur in connection with such
					views, opinions, advice or assistance including in relation to their accuracy, truthfulness or completeness or for any acts, omissions, errors or defaults of any third party in connection with such views, opinions, advice or assistance.
				</p>
				<p>
					Please be aware that whilst this website provides information on a wide range of
					products or services, there may be other products or services available on the market which are not shown on this website and which may be more appropriate or suitable for you than those shown on this website
				</p>
				<h2>
					7. Your responsibilities
				</h2>
				<p>
					You must take all reasonable precautions (including using appropriate virus checking software) to ensure that any information, content, material or data you provide (including user content) is free from viruses, spyware, malicious software, trojans, worms, logic bombs and anything else which may have a contaminating, harmful or destructive effect on any part of this website or the websites of third parties or any other technology.
				</p>
				<p>
					You may complete a registration process as part of your use of this website which
					may include the creation of a username, password and/or other identification information. Any username, password and/or other identification information must be kept confidential by you and must not be disclosed to, or shared with, anyone. Where you do disclose to or share with anyone your username, password and/or other identification information, you are solely responsible for all activities undertaken on this website using your username, password and/or other identification information.
				</p>
				<p>
					You must check and ensure that all information, content, material or data you provide on this website is correct, complete, accurate and not misleading and that you disclose all relevant facts. We do not accept any responsibility or liability for any loss or damage you may suffer or incur if any information, content, material or data you provide on this website is not correct, complete and accurate or if it is misleading or if you fail to disclose all relevant facts.
				</p>
				<p>
					Before you obtain any product or service from a third party, you must check all
					of the information, content, material or data held by the third party about you
					to ensure it is correct, complete, accurate and not misleading and that you have
					disclosed all relevant facts. It is your responsibility to identify and correct
					any mistakes or errors in the information, content, material or data held by the
					third party about you before you obtain any product or service. Failure to do so
					could invalidate the product or service provided by the third party. We do not accept any responsibility or liability for any loss or damage you may suffer or incur if any information, content, material or data held by the third party about you is not correct, complete and accurate or if it is misleading or if you have failed to disclose all relevant facts.
				</p>
				<p>
					You agree that you will be liable to us for any damage, loss, claim, demand, liability or expense (including reasonable legal fees) that we may suffer or incur arising out of or in connection with your conduct on this website.
				</p>
				<h2>
					8. Complaints
				</h2>
				<p>
					Our aim is at all times to provide you with an excellent service. If you are unhappy with our service for any reason, please contact our Customer Services Team by writing to us to our email to <a href="mailto:customercare@truePensionPlan.co.uk" style="color:blue;">customercare@truePensionPlan.co.uk.</a>
				</p>
				<p>
					We will aim to resolve your complaint within 48 hours. If we are not able to do
					so, we will provide you with an acknowledgement. After we have had an opportunity
					to investigate your concerns, we will issue you with a final response. Depending
					on the nature of your complaint and if you remain dissatisfied with our response,
					you may have the right to refer your case to the Financial Ombudsman Service at
					South Quay Plaza, 183 Marsh Wall, London, E14 9SR; telephone: 08000234567; email:
					enquiries@financial-ombudsman.org.uk; website http://www.financial-ombudsman.org.uk/.
					We will inform you if this right of referral applies to you.
				</p>
				<p>
					If you are unhappy with any product you have obtained from a third party or have
					any complaint regarding any third party, you should address your complaint directly to that third party. If you require their contact details, please contact our Customer Services Team who will be happy to assist.
				</p>
				<h2>
					9. Privacy
				</h2>
				<p>
					Pioneer Web Ltd is registered with the UK Data Protection Registrar and endeavours to follow all the guidelines and rules set out in the Data Protection Act 1998.
				</p>
				<p>
					We are committed to protecting your privacy and we treat your privacy very seriously.
					We process information about you in line with our Privacy Policy. By using this
					website, you agree to the way in which we process and deal with your personal information.
				</p>
				<p>
					We may disclose your personal information or access your account if required to
					do so by law, any court, the Financial Conduct Authority, the Office of Fair Trading or any other applicable regulatory, compliance, Governmental or law enforcement agency.
				</p><br>
				<h2>
					10. Jurisdiction for use:
				</h2>
				<p>
					This site is intended for use only by those who can access it from within the UK.
				</p>
				<h2>
					11. What we use personal data for:
				</h2>
				<p>
					We collect personal data to enable us to identify you and to deliver personalised
					offers and promotions based upon your demographics and product purchase profile,
					and for the purposes of statistical analysis.
				</p>
				<p>
					The information is used for system administration purposes and to form personalised profiles and demographics that we may use to improve the content of our communications to you. In order to collect customer use profiles, we may use cookies"" to store and track information about your use of truePensionPlan.co.uk. We will use this personalised information to keep you informed of areas in which you may have an
					interest. If you would prefer not to receive communications from us, please tell
					us by email to <a href="mailto:unsubscribe@truePensionPlan.co.uk" style="color:blue;">unsubscribe@truePensionPlan.co.uk.</a>
				</p>
				<h2>
					12. Access to personal data
				</h2>
				<p>
					Under the Data Protection Act 1998 you have the right to make a request for a copy of the personal information we hold about you. We are entitled to charge an administration fee of £10 for answering your request. Please write to us in the first instance outlining your request at Pioneer Web Limited, 24 Brewsters Road, Nottingham, NG3 3BP.
				</p>
				<h2>
					13. Governing law
				</h2>
				<p>
					These terms of use and your access to and use of this website shall be governed
					by and interpreted in accordance with English law.
				</p>
				<p>
					Each of you and us submits to the exclusive jurisdiction of the courts of England
					and Wales in connection with these terms of use and your access to and use of this website (including any claims or disputes).
				</p>
				<h2>
					14. Termination of Agreement
				</h2>
				<p>
					Should any of the terms and conditions stated be breached, truePensionPlan.co.uk or Pioneer Web Ltd has the right to terminate the agreement and immediately remove, cancel or suspend access to and use of the website.
				</p>
				<p>
					All disclaimers, indemnities and exclusions stated within these terms and conditions shall survive termination of the agreement between us for any reason.
				</p>
				<p>
					Pioneer Web Ltd or truePensionPlan.co.uk is not liable for failure to undertake
					any obligation under this agreement if failure results from events out of its control, including without limitation Internet/telecoms outages, fire, flood, war.
				</p>
				
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1 resconter">
			<div class="title_sec">
				<h1 style="font-size: 20px;">Compare top provider including</h1>
			</div>
			<div class="partner_body">
				<ul class="partner">
					<li><img src="./assets/image/brand_1.jpg" alt="brand1"/></li>
					<li style="border-right:none;"><img src="./assets/image/brand_2.jpg" alt="brand1"/></li>
					<li><img src="./assets/image/brand_3.jpg" alt="brand1"/></li>
					<li style="border-right:none;"><img src="./assets/image/brand_7.jpg" alt="brand1"/></li>
					<li style="border-bottom:none;"><img src="./assets/image/brand_5.jpg" alt="brand1"/></li>
					<li style="border-right:none; border-bottom:none;"><img src="./assets/image/brand_6.jpg" alt="brand1"/></li>
					<div class="clr"></div>
				</ul>
			</div>
		</div>
	</div><!--End_bodycontent-->
	