
	<div class="container bodycontent">
		<div class="com_handling comon_complain">
			<div class="title_sec">
				<h1>How it works</h1>
			</div>
			<h2>Why do I need to fill up all the required details?</h2>
			<ul class="funeral_work">
				<li>
					Once you fill up the details, our partner brokers will have an opportunity to understand your circumstances.
				</li>
				<li>
					Knowing your back ground will help the broker evaluate your situation prior to calling you.
				</li>
				<li>
					It helps the bestpension broker to find you a suitable offer with options you may want to choose from.
				</li>
			</ul>
			<h2>Making an enquiry about bestpension with us: What happens next?</h2>
			<ul class="funeral_work">
				<li>
					Once you fill up the product enquiry form with all the required details, you get an instant notification email confirming your query submission on our webpage. The email is sent to your provided email Id. The email account we use to send you notification email should reflect our trading style domain or the main company identity.
				</li>
				<li>
					Your details gets passed on to a single regulated advisor who will get in touch with you either via phone call or via email or via text message to help you with your query. We do NOT pass your details to multiple brokers until you request us to do so exclusively.
				</li>
				<li>
					We work with a handful of selective brokers who work with multiple brands/providers to provide you with the best suitable solution under your circumstances.
				</li>
				<li>
					If you are happy with the solution our broker may provide, you may wish to go ahead with that. Please note, we take no responsibility for any contract you may wish to have with a broker once you choose to go ahead with the product/solution the broker offers.
				</li>
				<li>
					Please ensure that you go through the terms and conditions of the bestpension arrangement carefully. The contract should reflect the bestpension providers details, bestpension broker’s credentials, bestpension repayment details, brokers commission (if any) and other aspects of the arrangement. Please be aware that xyz.co.uk or Pioneer web limited (PWL) takes no responsibility for the arrangement you may wish to have with the broker or the bestpension provider. The contract you may wish to go ahead with should not reflect xyz.co.uk or PWL’s credentials anywhere.
				</li>
				<li>
					xyz.co.uk or PWL acts as an introducer ONLY and receives a small fee from the broker for introduction of a customer. We absolutely don’t charge for using our site. It’s free to use. For more information on using our website, please visit xyz.co.uk/terms-and-conditions.
				</li>
				<li>
					We thoroughly check the back ground of our brokers. In case you want to verify whether or not, you have used our website and to whom we have passed on your details, you may wish to drop an enquiry using our ‘contact us’ form. We normally request you to give us 7 working days, but we tend to respond back as soon as possible.
				</li>
			</ul>
		</div>
	</div><!--End_bodycontent-->
	
	