
	<div class="container bodycontent resconter">
		<div class="col-md-7 resconter">
			<div class="title_sec">
				<h1>Cookie Policy</h1>
			</div>
			<div class="allpage_body">
				<p>
					Helping our customers is our ultimate aim and protecting customers’ information is our highest priority. This means that any cookies used on our sites will not contain personally identifiable information about you. However, we use cookies on our websites to facilitate your visits with more effective manner.
				</p>
				<h2>What are cookies?</h2>
				<p>
					A cookie is a small amount of data, which often includes a unique identifier that is sent to your computer, tablet or mobile phone (referred to here as a "device") browser from a website's computer and is stored on your device's hard drive. Each website can send its own cookie to your browser if your browser's preferences allow it, but (to protect your privacy) your browser only permits a website to access the cookies it has already sent to you, not the cookies sent to you by other websites. Many websites do this whenever a user visits their website in order to track online traffic flows. To find out more about cookies in general, please visit
					<a href="http://www.allaboutcookies.org." target="_blank"> http://www.allaboutcookies.org.</a>
				</p>
				<p>
					Cookies cannot carry viruses, and cannot install malware on the host computer and will not harm your computer. We do, however, use encrypted information to help improve your experience of our website. Enabling cookies from our site is safe. Cookies are like yellow sticky notes. We use them to help us remember your last map location, so that you can carry on where you left off in your next visit. This saves you having to pan and zoom unnecessarily as you can return to the exact same spot.
				</p>
				<p>Cookies used on our sites could be classified into three categories:</p>
				<h2>Session cookies</h2>
				<p>
					These are used to maintain something called session state. These cookies are created when a visitor first lands on the site and destroyed when the visitor leaves the site.Session cookies are required for the website to function but are not used in any way to identify you personally.
				</p>
				<h2>
					Permanent cookies (persistent cookies)
				</h2>
				<p>
					When you visit our website, we will assign a permanent cookie on the hard drive of your computer. You can view these by looking in the cookies directory of your browser installation. These cookies generally have a life time and are automatically destroyed on reaching their expiry time. The aim is to enhance your experience whilst on the website and make sure you don’t miss out on great offers. Cookies do not contain any personal Information for example, your name, address, email address, or telephone number, but simply a unique identification number that identifies your computer to us.
				</p>
				<h2>Third party cookies</h2>
				<p>
					Certain cookies are either set by third parties on the Website or these are set by us using the third parties cookie code. We use Google analytics to collect information about how visitors use our site. We use the information to compile reports and to help us improve the site. The cookies collect information in an anonymous form, including the number of visitors to the site, where visitors have come to the site from and the pages they visited. More information about Google analytics and how to restrict or block their cookies can be accessed by following this link 
					<a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank">http://www.google.co.uk/intl/en/analytics/privacyoverview.html</a>
				</p>
				<h2>Opting out</h2>
				<p>
					Although you cannot block "session" cookies as they are required for our website to function correctly you can configure your Internet browser so that it can reject both "permanent" and "third party" cookies. How you do this will depend upon the Internet browser you use. Please follow this link
					<a href="http://www.aboutcookies.org/Default.aspx?page=1" target="_blank">	http://www.aboutcookies.org/Default.aspx?page=1 </a>
					to get detailed instructions on disabling cookies based on your browser version.
				</p>
				
				<!-- Data is collected, processed and maintained in accordance with the Data Protection Act 1998. Registration Number: ZA036317 -->
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1 resconter">
			<div class="title_sec">
				<h1 style="font-size: 20px;">Compare top provider including</h1>
			</div>
			<div class="partner_body">
				<ul class="partner">
					<li><img src="./assets/image/brand_1.jpg" alt="brand1"/></li>
					<li style="border-right:none;"><img src="./assets/image/brand_2.jpg" alt="brand1"/></li>
					<li><img src="./assets/image/brand_3.jpg" alt="brand1"/></li>
					<li style="border-right:none;"><img src="./assets/image/brand_7.jpg" alt="brand1"/></li>
					<li style="border-bottom:none;"><img src="./assets/image/brand_5.jpg" alt="brand1"/></li>
					<li style="border-right:none; border-bottom:none;"><img src="./assets/image/brand_6.jpg" alt="brand1"/></li>
					<div class="clr"></div>
				</ul>
			</div>
		</div>
	</div><!--End_bodycontent-->
	
	