

	<div class="container bodycontent">
		<div class="com_handling comon_complain">
			<div class="title_sec">
				<h1>Complaint Handling Procedure</h1>
			</div>
			<h2>Registering a complaint with us: What happens next?</h2>
			<p>
				Our aim is to provide you with an excellent service. If you are unhappy with our service for any reason, please contact our Customer Services Team by writing to us to our email to customercare@truePensionPlan.co.uk
			</p>
			<p>You may also wish to use our 'contact us' to submit your complaint.</p>
			<h2>What we would need to locate your details in our database?</h2>
			<ul class="funeral_work">
				<li>
					Your full name.
				</li>
				<li>
					Your address with post code.
				</li>
				<li>
					We may require further details; a phone number could be really useful.
				</li>
				<li>
					Please mention your preferred time to be contacted by us in case required.
				</li>
			</ul>
			<p>We normally request you to give us 3 working days, but we aim to respond much quickly.</p>
			<p>
				First we try to locate your details in our database to ensure that you really used our website. Once we locate your details (in case you have used our service), we identify the broker who was in touch with you regarding your query in the past. After we have had an opportunity to investigate your concerns, we will issue you with a final response.
			</p>
			<p>
				Depending on the nature of your complain and if you remain dissatisfied with our response, you may have the right to refer your case to the Financial Ombudsman Service at South Quay Plaza, 183 Marsh Wall, London, E14 9SR; telephone: 08000 234 567; email: enquiries@financial-ombudsman.org.uk; website: www.financial-ombudsman.org.uk.We will inform you if this right of referral applies to you.
			</p>
			<p>
				If you are unhappy with any product you have obtained from a third party or have any complain regarding any third party, you should address your complain directly to that third party. If you require their contact details, please contact our Customer Services Team (customercare@truePensionPlan.co.uk) who will be happy to assist.
			</p>
			<p></p>
			<p></p>
		</div>
	</div><!--End_bodycontent-->
