

	<div class="container bodycontent resconter">
		<div class="col-md-7 resconter">
			<div class="title_sec">
				<h1>Privacy Policy</h1>
			</div>
			<div class="allpage_body">
				<p>
					We take the protection of your personal data very seriously. This section explains what information we collect from you, what we do with it, how we keep it secure and the circumstances upon which we provide it to third parties. If you have any questions, comments or requests regarding this Privacy Policy please contact our customer services team via email at customercare@truePensionPlan.co.uk.
				</p>
				<p>
					By using this site, you are giving us permission to use the data you provide us in the ways set out in this privacy policy.
				</p>
				<p>
					Information about you will not be collected unless you choose to give it to truePensionPlan.co.uk or Pioneer Web Ltd.
				</p>
				<p>
					If you do not want truePensionPlan.co.uk Pioneer Web Ltd to collect/process personal or financial information, please do not submit it. If you believe any personal or financial information to be incorrect, contact truePensionPlan.co.uk or Pioneer Web Ltd and the information shall be immediately corrected or removed from the database should you request it.
				</p>
				<h2>Information that we collect from you:</h2>
				<p>
					To take advantage of our services, you might be required to provide us with certain information about yourself. This may include doing things such as registering your contact details or completing certain forms on our website. You may also be asked to provide us with information about yourself if you wish to Contact Us for any reason. We also collect details of your visit to our website and your use of it.
				</p>
				<h2>Sensitive personal data:</h2>
				<p>
					The nature of our business is such that we may also on occasion ask you to provide sensitive personal data as defined in the Data Protection Act 1998. By proceeding with obtaining a quote, we will take that as your explicit consent to such information being processed by ourselves and the relevant third party service providers.
				</p>
				<h2>Use of cookies:</h2>
				<p>
					We may also collect information about your computer, including where available your IP address, operating system and browser type using a cookie file which is stored in the hard drive of your computer. Cookies help us to improve our website and deliver a better and more personalised service to you. They enable us to:
				</p>
				<ul>
					<li>
						Personalise your experience on our website, speed up your searches and help us select services or materials for inclusion on the website which may be of interest to you.
					</li>
					<li>
						Monitor general traffic patterns and usage of our website to help us to improve our website design and layout.
					</li>
				</ul>
				<p>
					Most browsers accept cookies automatically, but usually you can alter the settings of your browser to prevent automatic acceptance. If you choose not to receive cookies, you may not be able to use certain features of our website.
				</p>
				<p>The information that is collected by us via cookies is completely anonymous.</p>
				<h2>How will we use your data ?</h2>
				<p>
					We (or third parties acting on our behalf) may use your personal information in the following ways:
				</p>
				<ul>
					<li>
						to provide you with the information, products or services that you request from us and/or.
					</li>
					<li>
						to allow you to participate in interactive features of our service when you choose to do so; and/or.
					</li>
					<li>
						to contact you by letter, telephone or e-mail to inform you about other products and services which may be of interest to you; and/or
					</li>
					<li>
						notify you of our news, changes to the website, special events or other services we think may interest you.
					</li>
				</ul>
				<p>
					We will also disclose your personal information to third parties who provide the products/ services that you have enquired about via our website.
				</p>
				<p>
					We also may need to disclose your personal information where it is necessary to comply with any applicable laws or to protect ourselves or our users (including exchanging information with other companies for the purposes of fraud protection), or in the event that we sell our business, in which case we may disclose your personal data to the prospective buyer of our business.
				</p>
				<h2>
					How do we store your personal information and keep it secure ?
				</h2>
				<p>
					As required by the Data Protection Act 1998, we follow strict security procedures in the storage and disclosure of personal information which you have provided via this website, to prevent unauthorised access. We shall take all reasonable steps to ensure your personal details remain secure. The personal information that we collect from you may also be transferred to and stored outside of the European Economic Area.
				</p>
				<h2>Your Rights:</h2>
				<p>
					<b>If you do not agree to the privacy policy then you should not enter any of your personal information on our website. If at any time after you have provided personal information to us and you want to object to your personal data being used by us, you need to let us know by either contacting our customer services team at our address given above or by sending an email to us at unsubscribe@truePensionPlan.co.uk. We will endeavour to process your request as soon as possible, but in some cases it may take us up to 28 days to process your request. You may request a copy of the information we hold about you. We will be happy to provide you with such information upon request and the payment of £10 in order to cover our administrative expenses in relation to your request.</b>
				</p>
				<p>
					Our privacy policy applies solely to information collected by us through our website. Please note that we are not responsible for what any third party content provider or other third party offering goods and services via websites or linked to or framed around our website may do with any personal information that you may provide them. Accordingly, please ensure that you also read their data protection and privacy terms and conditions very carefully before providing them with your personal information.
				</p>
				<p>
					Any failure on our part to enforce any right will not constitute a waiver of such rights.
				</p>
				<p>
					These terms and conditions replace any previous terms and conditions regarding the use of our website.
				</p>
				<p>
					These terms and conditions are subject to English law and the exclusive jurisdiction of the English courts.
				</p>
				<p>
					If you have any questions about these terms and conditions or have a general query about the services that we provide, please get in touch. You can Contact Us through this link.
				</p>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1 resconter">
			<div class="title_sec">
				<h1 style="font-size: 20px;">Compare top provider including</h1>
			</div>
			<div class="partner_body">
				<ul class="partner">
					<li><img src="./assets/image/brand_1.jpg" alt="brand1"/></li>
					<li style="border-right:none;"><img src="./assets/image/brand_2.jpg" alt="brand1"/></li>
					<li><img src="./assets/image/brand_3.jpg" alt="brand1"/></li>
					<li style="border-right:none;"><img src="./assets/image/brand_7.jpg" alt="brand1"/></li>
					<li style="border-bottom:none;"><img src="./assets/image/brand_5.jpg" alt="brand1"/></li>
					<li style="border-right:none; border-bottom:none;"><img src="./assets/image/brand_6.jpg" alt="brand1"/></li>
					<div class="clr"></div>
				</ul>
			</div>
		</div>
	</div><!--End_bodycontent-->
	
	