<section class="thank_u">
    <div class="iethanku">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 sec_thanku">
                    <div class="thankyou_icon">
                        <img src="./assets/image/thank_you.png" alt="" class="imgcuntry" />
                    </div>
                    <h1>Thank You !</h1>
                    <h2>REQThank</h2>
                    <p>{{reqThankYou.Name}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

